@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */

@font-face {
    font-family: "Fregular";
    src: url(./fonts/regular.woff2);
}

@font-face {
    font-family: "Fantenna";
    src: url(./fonts/Ford-Antenna-Light.ttf);
}

@font-face {
    font-family: "antennaMed";
    src: url(./fonts/antenna-cond-medium.woff2);
}

@font-face {
    font-family: "Flight";
    src: url(./fonts/light.woff2);
}

@font-face {
    font-family: "Flight1";
    src: url(./fonts/light\ \(1\).woff2);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Montserrat";
    font-weight: bold; */
}

html,
body {
    height: 100%;
    width: 100%;
}
body[theme="black"]{
    background-color: black;
    color: white;
}
body[theme="white"]{
    background-color: white;
    color: black;
}


.splashScreen {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 10; */
    animation: fade-out ease-out forwards;
    animation-delay: 3s;
}

@media(max-width:950px) {
    .splashScreen h1{
       font-size: 5em !important;
        font-family: monospace !important;
    }
    #copyright{
        bottom: 100px !important;
    }
}
@media(max-width:450px) {
    .splashScreen h1{
        font-family: monospace !important;
        
    }
}


@keyframes fade-in {
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
        z-index: -10;
    }
}




.splashScreen h1 {
    animation: fade-in 1s ease-in forwards;
    opacity: 0;
}
    
.splashScreen h1 {
    font-family: "Montserrat","Fregular", Helvetica, sans-serif ;
    font-weight: 500;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-text-stroke: 1.5px #fff;
    color: transparent;
    text-transform: uppercase;
}

.splashScreen h1 span {
    display: inline-block;
}

.navbar{
    width: 100% ;
    background-color: transparent;
    position: sticky;
    z-index: 2;
    padding: 1.2px 2%;
    font-size: 1em;
}
.center a{
    text-shadow: rgba(255, 255, 255, 0.837) 1px 0 10px;
    text-underline-offset: 25px;     
}

.center a:hover{
    text-decoration: underline;
}

.right {
    text-shadow: rgba(255, 255, 255, 0.837) 1px 0 10px;
    text-underline-offset: 25px;     
}

.right i:hover{
    text-decoration: underline;
}
/*
.left{
    width: 10;
}

.left a img{
    width: 20%;
    height: auto ;
}

.center{
    width: 1000px;
    display: flex;
    align-items: center;
}

.center a{
    color: white;
    margin: 1.2em;
    text-shadow: rgba(255, 255, 255, 0.837) 1px 0 10px;
    text-underline-offset: 25px;     
}

.center a:hover{
    text-decoration: underline;
}

.right{
    width: 35em;
    display: flex;
    justify-content: right;
    margin: 0 10%;
    align-items: center;
}

.right i{
    margin: 0 0.2em;
    text-underline-offset: 25px;   
    text-shadow: rgba(255, 255, 255, 0.837) 1px 0 10px;        
}

.right i:hover{
    text-decoration: underline;
}
.selectBox{
    height: 30px;
    display: flex;
    cursor: pointer;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: rgb(255, 255, 255);
}

.selectBox select{
    width: 15px;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
    color: black;
}
*/
.searchBox{
    height: 30px;
    display: flex;
    cursor: pointer;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: white;
}

.searchBox:hover{
    background-color: #fff;
    color: black;
}
.searchBox:hover input{
    width: 10em;
}

.searchBox input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}
.checkbtn{
    font-size: 5em;
    line-height: 0em;
    float: right;
    cursor: pointer;
    display: block;
}

#check{
    display: none;
} 

@media (max-width:768px){
    .center{
        display: block;
        display: list-item;
        width: 100%;
        height: 100%;
        top: 5em;
        text-align: center;
    }
    .right{
        margin-right: 5em;
    }
}

/* Hero Section */

.heroTxt {
    font-family: "Montserrat", Helvetica, sans-serif ;
    font-weight: bold;
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}

.heroTxt span {
    display: inline-block;
}

@media (min-width:1920px) {
    .heroTxt{
        font-size: 23rem !important;
    }
    .scrollDown{
        bottom: 5rem;
    }
}



/* 
.container {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;

}

.heroSection{
    position: relative;
}
.heroBg{
    width: 100vw;
    height: 100vh;
    position: absolute;
}
.heroCar{
    width: fit-content;
    position: absolute;
}
#img {
   width: 100%;
   height: 100%;
    object-fit: cover;
    position: fixed;
}

*/